<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1 style ="text-align:center">Predict Default Risk</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="form_field1" placeholder="form_field1" required="required" />
        <input type="text" name="form_field2" placeholder="form_field2" required="required" />
	<input type="text" name="form_field3" placeholder="form_field3" required="required" />
    	<input type="text" name="form_field4" placeholder="form_field4" required="required" />
        <input type="text" name="form_field5" placeholder="form_field5" required="required" />
	<input type="text" name="form_field6" placeholder="form_field6" required="required" />
    	<input type="text" name="form_field7" placeholder="form_field7" required="required" />
        <input type="text" name="form_field8" placeholder="form_field8" required="required" />
	<input type="text" name="form_field9" placeholder="form_field9" required="required" />
   <br>
   <br>
    	<input type="text" name="form_field10" placeholder="form_field10" required="required" />
        <input type="text" name="form_field11" placeholder="form_field11" required="required" />
	<input type="text" name="form_field12" placeholder="form_field12" required="required" />
    	<input type="text" name="form_field13" placeholder="form_field13" required="required" />
        <input type="text" name="form_field14" placeholder="form_field14" required="required" />
	<input type="text" name="form_field15" placeholder="form_field15" required="required" />
    	<input type="text" name="form_field16" placeholder="form_field16" required="required" />
        <input type="text" name="form_field17" placeholder="form_field17" required="required" />
	<input type="text" name="form_field18" placeholder="form_field18" required="required" />
   <br>
   <br>
    	<input type="text" name="form_field19" placeholder="form_field19" required="required" />
        <input type="text" name="test_score20" placeholder="form_field20" required="required" />
	<input type="text" name="form_field21" placeholder="form_field21" required="required" />
    	<input type="text" name="form_field22" placeholder="form_field22" required="required" />
        <input type="text" name="form_field23" placeholder="form_field23" required="required" />
	<input type="text" name="form_field24" placeholder="form_field24" required="required" />
    	<input type="text" name="form_field25" placeholder="form_field25" required="required" />
        <input type="text" name="form_field26" placeholder="form_field26" required="required" />
	<input type="text" name="form_field27" placeholder="form_field27" required="required" />
   <br>
   <br>
    	<input type="text" name="form_field28" placeholder="form_field28" required="required" />
        <input type="text" name="form_field29" placeholder="form_field29" required="required" />
	<input type="text" name="form_field30" placeholder="form_field30" required="required" />
	<input type="text" name="form_field31" placeholder="form_field31" required="required" />
        <input type="text" name="form_field32" placeholder="form_field32" required="required" />
	<input type="text" name="form_field33" placeholder="form_field33" required="required" />
    	<input type="text" name="form_field34" placeholder="form_field34" required="required" />
        <input type="text" name="form_field35" placeholder="form_field35" required="required" />
	<input type="text" name="form_field36" placeholder="form_field36" required="required" />
   <br>
   <br>
    	<input type="text" name="form_field37" placeholder="form_field37" required="required" />
        <input type="text" name="form_field38" placeholder="form_field38" required="required" />
	<input type="text" name="form_field39" placeholder="form_field39" required="required" />
    	<input type="text" name="form_field40" placeholder="form_field40" required="required" />
        <input type="text" name="form_field41" placeholder="form_field41" required="required" />
	<input type="text" name="form_field42" placeholder="form_field42" required="required" />
    	<input type="text" name="form_field43" placeholder="form_field43" required="required" />
        <input type="text" name="form_field44" placeholder="form_field44" required="required" />
	<input type="text" name="form_field45" placeholder="form_field45" required="required" />
   <br>
   <br>
        
    	<input type="text" name="form_field46" placeholder="form_field46" required="required" />
	<input type="text" name="form_field47" placeholder="form_field47" required="required" />
	<input type="text" name="form_field48" placeholder="form_field48" required="required" />
	<input type="text" name="form_field49" placeholder="form_field49" required="required" />
	<input type="text" name="form_field50" placeholder="form_field50" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
